/* オレンジ */
.box1{
  width: 400px;
  height: 100px;
  background-color: #FFCE7a;
}

/* オレンジ */
.box1{
  width: 400px;
  height: 100px;
  background-color: #FFCE7a;
}

/* 水色 */
.box2{
  width: 150px;
  height: 250px;
  background-color: #9DDDF4;
}

/* 緑 */
.box3{
  width: 250px;
  height: 250px;
  background-color: #C2FFC8;
}

/* 紫 */
.box4{
  width: 400px;
  height: 100px;
  background-color: #bea5ff;
}