<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>本の編集</title>
</head>
<body>

<h1>編集</h1>

<form th:action="@{/books/update}" th:object="${bookForm}" method="post">

    <!-- ID（非表示） -->
    <input type="hidden" th:field="*{id}"/>

    <p>
        タイトル：
        <input type="text" th:field="*{title}"/>
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
    </p>

    <p>
        著者：
        <input type="text" th:field="*{author}"/>
        <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span>
    </p>

    <button type="submit">更新</button>
</form>

<a th:href="@{/books}">一覧</a>

</body>
</html>
